@using Yas.Template.Web.Services
@using Yas.Template.Web.Databases

@{

    TaxContext context = new TaxContext();

    Guid? accountId = ContextService.GetDefaultAccountId(Context);
}

<!DOCTYPE html>
<html lang="fa" class="light-style" dir="rtl" data-theme="theme-default" data-assets-path="../../assets/" data-template="horizontal-menu-template-no-customizer">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>یاس فاکتور | @ViewData["Title"]</title>

    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="/img/icon/yas-logo.ico">
    <link rel="stylesheet" href="/fonts/boxicons.css">
    <link rel="stylesheet" href="/fonts/fontawesome.css">
    <link rel="stylesheet" href="/css/rtl/core.css">
    <link rel="stylesheet" href="/css/rtl/theme-default.css">
    <link rel="stylesheet" href="/css/demo.css" />
    <link rel="stylesheet" href="/css/rtl/rtl.css">
    <link rel="stylesheet" href="/libs/toastr/toastr.css">
    <link href="/libs/datapicker/mds.bs.datetimepicker.style.css" rel="stylesheet" />


    <link href="/libs/datatables/dataTables.dataTables.css" rel="stylesheet" />
    <link href="/libs/datatables/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/libs/datatables/responsive/responsive.bootstrap5.min.css" rel="stylesheet" />

    <link href="/libs/select2/select2.min.css" rel="stylesheet" />

    <link href="/libs/select2/custom.css?rndstr=@DateTime.Now" rel="stylesheet" />
    <link href="/libs/datapicker/mds.bs.datetimepicker.style.css" rel="stylesheet" />
    <link href="~/libs/sweetalert/sweetalert2.css" rel="stylesheet" />
    <link href="/libs/datatables/export/buttons.dataTables.css" rel="stylesheet" />
    <link href="/css/custom/core.css?rndstr=@DateTime.Now" rel="stylesheet" />
    <style>
        .red-row {
            background-color: red;
            color: red;
        }

        html[dir=rtl] table.dataTable > thead > tr > th:not(.sorting_disabled), table.dataTable > thead > tr > td:not(.sorting_disabled) {
            padding-right: 0;
            padding-left: 0;
        }

        *[dir=rtl] table.dataTable thead th, *[dir=rtl] table.dataTable thead td, *[dir=rtl] table.dataTable tfoot th, *[dir=rtl] table.dataTable tfoot td {
            text-align: center;
        }
    </style>

    @await RenderSectionAsync("Style", false)

</head>

<body>
    <div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu ">
        <div class="layout-container">
            @if (TempData["UserGeneralError"] != null)
            {
                <div class="alert alert-solid-warning" role="alert">
                    @TempData["UserGeneralError"]
                </div>
            }
            <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
                <div class="container-xxl">
                    <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
                        <a href="/Home/User" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1860" height="1812" viewBox="0 0 1860 1812" version="1.1"><path d="M 644.356 47.504 C 644.107 51.804, 643.324 52.651, 638.341 54.004 C 618.235 59.464, 599.826 79.258, 593.631 102.079 L 591.031 111.657 591.016 294.394 L 591.002 477.130 593.113 483.815 C 598.895 502.118, 618.285 524.941, 628.113 525.010 C 628.876 525.015, 631.975 526.201, 635 527.644 C 642.609 531.275, 666.439 531.709, 672.181 528.321 C 674.096 527.191, 677.384 525.698, 679.489 525.004 C 692.823 520.603, 711.140 500.398, 713.457 487.535 C 713.850 485.354, 714.808 482.338, 715.586 480.834 C 716.786 478.513, 717 455.459, 717 328.272 C 717 194.285, 717.165 178.210, 718.557 176.223 L 720.113 174 929.485 174 C 1180.022 174, 1142.014 126.608, 1141.994 438.976 C 1141.977 717.923, 1141.770 706.340, 1146.957 717.064 C 1151.881 727.244, 1162.379 739.502, 1168.312 742 C 1168.966 742.275, 1170.625 743.261, 1172 744.191 C 1188.489 755.344, 1219.008 754.962, 1236.311 743.385 C 1246.647 736.469, 1260 721.925, 1260 717.582 C 1260 717.202, 1260.888 714.941, 1261.973 712.559 C 1266.074 703.556, 1266.062 704.537, 1265.776 401.500 L 1265.500 108.500 1262.348 99.500 C 1256.470 82.714, 1243.700 65.999, 1232.500 60.429 C 1230.300 59.335, 1227.375 57.717, 1226 56.833 C 1224.625 55.949, 1221.103 54.671, 1218.173 53.994 C 1212.736 52.738, 1211.898 51.905, 1211.644 47.504 L 1211.500 45.001 928 45.001 L 644.500 45.001 644.356 47.504 M 397 741.140 C 382.334 742.648, 353.104 751.768, 343 757.988 C 342.175 758.496, 338.617 760.537, 335.092 762.523 C 309.075 777.190, 285.447 802.641, 271.521 831 C 264.468 845.363, 263 848.711, 263 850.432 C 263 851.385, 261.903 855.390, 260.561 859.332 C 253.882 878.964, 253.285 923.163, 259.466 940.500 C 260.251 942.700, 261.615 947.357, 262.499 950.848 C 263.383 954.340, 264.507 957.940, 264.998 958.848 C 265.489 959.757, 267.957 964.775, 270.483 970 C 313.613 1059.207, 420.907 1090.033, 506.037 1037.675 C 518.143 1030.229, 542.753 1007.334, 549.459 997.277 C 550.845 995.200, 552.725 992.375, 553.637 991 C 554.549 989.625, 556.127 987.283, 557.145 985.795 C 564.220 975.445, 571.460 957.992, 576.764 938.500 L 580.301 925.500 580.340 902 C 580.431 846.279, 558.129 803.865, 510 768.226 C 481.702 747.271, 438.372 736.885, 397 741.140 M 1431.500 741.928 C 1426.550 742.339, 1420.025 743.384, 1417 744.249 C 1413.975 745.115, 1409.520 746.139, 1407.100 746.525 C 1388.867 749.433, 1358.453 765.354, 1338.898 782.226 C 1292.651 822.129, 1271.970 893.130, 1290.563 948.171 C 1292.482 953.852, 1294.564 960.300, 1295.189 962.500 C 1295.815 964.700, 1297.378 968.067, 1298.663 969.982 C 1299.949 971.897, 1301 973.990, 1301 974.632 C 1301 975.274, 1302.794 978.657, 1304.987 982.150 C 1307.180 985.642, 1309.710 989.821, 1310.609 991.435 C 1316.737 1002.441, 1333.440 1020.211, 1347.500 1030.684 C 1353 1034.781, 1358.188 1038.665, 1359.029 1039.316 C 1360.487 1040.444, 1380.031 1050.213, 1388.500 1054.047 C 1390.700 1055.043, 1394.075 1056.173, 1396 1056.557 C 1397.925 1056.942, 1402.133 1058.094, 1405.351 1059.119 C 1427.534 1066.180, 1461.599 1066.377, 1486 1059.586 C 1490.675 1058.284, 1496.057 1056.889, 1497.960 1056.484 C 1499.863 1056.080, 1503.013 1054.951, 1504.960 1053.975 C 1506.907 1053, 1511.425 1050.937, 1515 1049.392 C 1518.575 1047.847, 1523.575 1045.326, 1526.111 1043.791 C 1528.646 1042.256, 1531.007 1041, 1531.357 1041 C 1532.420 1041, 1546.103 1031.009, 1552.798 1025.344 C 1565.554 1014.550, 1581.142 995.930, 1587.917 983.393 C 1589.074 981.252, 1590.451 978.825, 1590.977 978 C 1592.344 975.855, 1598.392 962.314, 1600.356 957 C 1601.822 953.037, 1604.033 945.325, 1606.953 934 C 1610.692 919.497, 1610.126 881.530, 1605.984 869 C 1604.985 865.975, 1603.844 861.700, 1603.450 859.500 C 1599.217 835.847, 1574.123 797.969, 1549.500 778.063 C 1538.540 769.203, 1516.950 756, 1513.420 756 C 1512.898 756, 1510.868 755.141, 1508.910 754.092 C 1492.947 745.536, 1456.678 739.837, 1431.500 741.928 M 639.500 1064.927 C 616.019 1071.293, 600.005 1087.078, 594.280 1109.500 L 591.982 1118.500 591.991 1408.345 C 591.995 1567.760, 592.195 1698.506, 592.434 1698.893 C 592.673 1699.280, 593.588 1703.849, 594.468 1709.048 C 596.868 1723.223, 601.844 1732.726, 612.935 1744.315 C 618.615 1750.250, 630.659 1759, 633.149 1759 C 633.908 1759, 636.098 1759.838, 638.015 1760.863 C 648.131 1766.272, 639.185 1766.125, 934 1765.704 C 1214.057 1765.303, 1214.490 1765.297, 1221.195 1761.223 C 1223.013 1760.119, 1225.957 1758.908, 1227.739 1758.531 C 1229.520 1758.154, 1231.237 1757.426, 1231.555 1756.911 C 1231.872 1756.397, 1234.465 1754.460, 1237.316 1752.606 C 1246.381 1746.711, 1257.109 1733.913, 1260.668 1724.747 C 1261.575 1722.411, 1262.654 1720.050, 1263.066 1719.500 C 1265.832 1715.808, 1266.043 1701.871, 1266.058 1521.395 C 1266.074 1327.236, 1266.187 1332.045, 1261.372 1321.469 C 1252.704 1302.429, 1237.585 1290.754, 1216 1286.429 L 1204.500 1284.126 1193.500 1286.206 C 1170.570 1290.542, 1154.242 1303.552, 1145.441 1324.500 L 1142.500 1331.500 1142 1485.787 C 1141.560 1621.477, 1141.319 1640.188, 1140 1641.021 C 1137.368 1642.685, 720.495 1642.301, 719.111 1640.634 C 718.273 1639.624, 717.982 1571.377, 717.994 1378.439 L 718.011 1117.611 715.374 1109.555 C 709.950 1092.984, 694.284 1072, 687.336 1072 C 686.856 1072, 684.897 1070.949, 682.982 1069.664 C 673 1062.967, 654.259 1060.926, 639.500 1064.927" stroke="none" fill="#110b63" fill-rule="evenodd" /><path d="M 638.518 46.250 C 638.287 46.938, 637.964 48.605, 637.799 49.956 C 637.562 51.899, 636.651 52.631, 633.440 53.456 C 631.207 54.030, 628.109 55.513, 626.555 56.750 C 625.001 57.987, 623.282 59, 622.734 59 C 619.877 59, 600 78.903, 600 81.765 C 600 82.291, 598.978 84.246, 597.728 86.110 C 596.479 87.975, 594.195 93.253, 592.654 97.840 L 589.852 106.181 589.957 293.840 L 590.062 481.500 592.557 488.745 C 596.360 499.784, 603.383 509.848, 612.217 516.918 C 622.366 525.041, 623.526 525.795, 627.545 526.881 C 629.720 527.469, 632.625 528.749, 634 529.725 C 638.641 533.020, 668.883 532.316, 675.946 528.750 C 678.942 527.238, 682.027 526, 682.802 526 C 683.577 526, 685.486 524.987, 687.043 523.750 C 688.601 522.513, 692.004 519.927, 694.606 518.004 C 702.571 512.117, 713.039 497.938, 714.512 491.040 C 714.919 489.137, 716.095 485.612, 717.126 483.207 C 718.930 478.997, 719.001 473.239, 719.015 328.667 C 719.024 246.075, 719.390 177.934, 719.829 177.243 C 720.668 175.921, 1137.118 175.785, 1138.439 177.106 C 1138.773 177.439, 1139.030 293.927, 1139.011 435.968 C 1138.975 715.982, 1138.766 704.807, 1144.237 716 C 1169.795 768.293, 1237.245 767.969, 1263.110 715.429 L 1266.500 708.542 1266.500 406.021 L 1266.500 103.500 1263.718 96.500 C 1262.187 92.650, 1260.504 88.825, 1259.976 88 C 1259.449 87.175, 1257.826 84.250, 1256.369 81.500 C 1253.052 75.238, 1239.799 61.948, 1233.924 58.993 C 1231.491 57.769, 1228.825 56.222, 1228 55.556 C 1227.175 54.890, 1224.615 53.808, 1222.312 53.151 C 1218.622 52.099, 1218.086 51.572, 1217.812 48.728 C 1217.494 45.441, 1213.973 43.627, 1211.911 45.689 C 1209.221 48.379, 1212.618 52.494, 1218.942 54.204 C 1222.406 55.142, 1225.975 56.495, 1226.871 57.213 C 1227.767 57.930, 1230.300 59.412, 1232.500 60.506 C 1243.767 66.108, 1256.464 82.697, 1262.348 99.500 L 1265.500 108.500 1265.776 401.500 C 1266.062 704.537, 1266.074 703.556, 1261.973 712.559 C 1260.888 714.941, 1260 717.202, 1260 717.582 C 1260 721.925, 1246.647 736.469, 1236.311 743.385 C 1219.008 754.962, 1188.489 755.344, 1172 744.191 C 1170.625 743.261, 1168.966 742.275, 1168.312 742 C 1162.379 739.502, 1151.881 727.244, 1146.957 717.064 C 1141.770 706.340, 1141.977 717.923, 1141.994 438.976 C 1142.014 126.608, 1180.022 174, 929.485 174 L 720.113 174 718.557 176.223 C 717.165 178.210, 717 194.285, 717 328.272 C 717 455.459, 716.786 478.513, 715.586 480.834 C 714.808 482.338, 713.850 485.354, 713.457 487.535 C 711.140 500.398, 692.823 520.603, 679.489 525.004 C 677.384 525.698, 674.096 527.191, 672.181 528.321 C 666.439 531.709, 642.609 531.275, 635 527.644 C 631.975 526.201, 628.876 525.015, 628.113 525.010 C 618.285 524.941, 598.895 502.118, 593.113 483.815 L 591.002 477.130 591.016 294.394 L 591.031 111.657 593.631 102.079 C 599.734 79.598, 616.421 61.266, 636.945 54.496 C 643.250 52.416, 646.286 48.889, 644.398 45.836 C 643.592 44.531, 638.986 44.855, 638.518 46.250 M 910 236.504 C 893.856 238.483, 874.599 242.981, 867.500 246.432 C 865.850 247.234, 861.125 249.370, 857 251.178 C 837.642 259.664, 811.430 279.781, 800.462 294.570 C 798.858 296.731, 795.624 300.799, 793.273 303.608 C 790.923 306.417, 789 309.169, 789 309.723 C 789 310.277, 788.140 311.823, 787.090 313.159 C 784.075 316.992, 773.003 339.169, 772.969 341.445 C 772.952 342.575, 771.831 345.750, 770.478 348.500 C 769.125 351.250, 768.014 354.465, 768.009 355.645 C 768.004 356.824, 766.987 360.874, 765.750 364.645 C 760.109 381.832, 763.244 432.461, 771.004 449.500 C 772.006 451.700, 773.146 455.075, 773.537 457 C 773.928 458.925, 775.034 461.625, 775.993 463 C 776.953 464.375, 778.084 466.625, 778.506 468 C 778.929 469.375, 780.113 471.573, 781.138 472.885 C 782.162 474.197, 783 475.850, 783 476.558 C 783 477.267, 784.048 479.119, 785.330 480.673 C 786.611 482.228, 787.931 484.246, 788.263 485.158 C 790.612 491.612, 821.939 526, 825.470 526 C 826.141 526, 827.547 526.948, 828.595 528.106 C 829.643 529.265, 832.188 531.074, 834.250 532.127 C 836.313 533.179, 838 534.413, 838 534.869 C 838 535.324, 839.688 536.450, 841.750 537.372 C 843.813 538.293, 848.425 540.626, 852 542.556 C 858.033 545.813, 866.259 549.192, 878.500 553.442 C 896.498 559.691, 924.800 562.327, 942.761 559.428 C 948.117 558.564, 955.651 557.501, 959.501 557.066 C 963.352 556.632, 968.615 555.314, 971.197 554.138 C 973.778 552.962, 976.761 552, 977.824 552 C 979.876 552, 987.005 549.020, 998.500 543.357 C 1008.388 538.486, 1010.960 536.919, 1026.384 526.369 C 1034.252 520.987, 1054.936 498.846, 1062.558 487.646 C 1067.104 480.965, 1077 462.351, 1077 460.479 C 1077 459.852, 1078.109 457.149, 1079.464 454.472 C 1080.819 451.795, 1082.205 448.232, 1082.544 446.553 C 1082.883 444.874, 1084.010 440.575, 1085.050 437 C 1090.898 416.883, 1090.937 370.459, 1085.115 359.153 C 1084.647 358.244, 1083.683 355.027, 1082.974 352.005 C 1082.264 348.982, 1080.629 344.528, 1079.341 342.106 C 1078.054 339.684, 1077 336.915, 1077 335.953 C 1077 334.049, 1072.236 324.544, 1069.012 320.017 C 1067.905 318.463, 1067 316.500, 1067 315.655 C 1067 314.810, 1066.548 313.839, 1065.995 313.497 C 1065.442 313.155, 1063.118 310.091, 1060.829 306.688 C 1049.363 289.639, 1016.728 259, 1010.034 259 C 1009.614 259, 1008.108 258.086, 1006.687 256.969 C 1003.163 254.197, 982.085 245.181, 973.500 242.774 C 949.099 235.933, 930.026 234.049, 910 236.504 M 1548.500 564.953 L 1365.500 565.506 1358.034 568.294 C 1353.927 569.827, 1349.842 571.738, 1348.955 572.541 C 1348.068 573.343, 1346.999 574, 1346.579 574 C 1343.503 574, 1329.686 588.455, 1323.638 598 C 1316.181 609.769, 1313.092 636.339, 1318 646.500 C 1319.063 648.700, 1319.947 651.102, 1319.966 651.838 C 1320.155 659.293, 1338.731 680.122, 1350.743 686.348 C 1364.182 693.313, 1355.065 692.963, 1523.691 692.983 C 1615.697 692.993, 1676.108 693.365, 1676.453 693.924 C 1677.215 695.158, 1677.191 1107.142, 1676.429 1107.905 C 1676.101 1108.232, 1556.283 1108.608, 1410.167 1108.740 C 1123.625 1108.998, 1139.203 1108.665, 1127.244 1114.786 C 1072.394 1142.861, 1082.336 1221.204, 1142.500 1235.005 C 1155.563 1238.001, 1728.932 1237.727, 1744.896 1234.716 C 1764.962 1230.932, 1781.873 1220.245, 1792.255 1204.786 C 1793.824 1202.450, 1795.724 1199.854, 1796.476 1199.019 C 1797.229 1198.184, 1798.145 1196.295, 1798.512 1194.822 C 1798.880 1193.350, 1799.815 1191.901, 1800.590 1191.604 C 1802.794 1190.758, 1802.704 610.207, 1800.500 609.362 C 1799.675 609.045, 1799 608.071, 1799 607.197 C 1799 606.323, 1797.797 603.783, 1796.327 601.554 C 1794.856 599.324, 1792.509 595.760, 1791.111 593.634 C 1788.206 589.219, 1774.219 576, 1772.452 576 C 1771.807 576, 1769.529 574.808, 1767.390 573.351 C 1765.250 571.894, 1761.362 570.094, 1758.750 569.351 C 1739.488 563.873, 1760.489 564.313, 1548.500 564.953 M 112.020 567.517 C 89.813 571.985, 71.232 585.305, 61.824 603.500 C 60.971 605.150, 59.539 607.850, 58.643 609.500 C 57.746 611.150, 57.010 613.497, 57.006 614.715 C 57.003 615.933, 56.100 617.411, 55 618 C 51.838 619.692, 51.838 1183.308, 55 1185 C 56.100 1185.589, 57 1186.969, 57 1188.067 C 57 1190.093, 58.927 1194.858, 61.218 1198.500 C 61.910 1199.600, 63.894 1202.750, 65.626 1205.500 C 73.275 1217.644, 91.328 1231.208, 103 1233.580 C 104.925 1233.972, 108.269 1234.910, 110.432 1235.666 C 113.714 1236.813, 145.315 1237.035, 301.573 1237.010 L 488.782 1236.981 496.141 1234.616 C 551.655 1216.778, 559.067 1142.390, 507.996 1115.636 C 494.363 1108.495, 507.340 1109, 337.518 1109 C 219.760 1109, 184.123 1108.723, 183.200 1107.800 C 181.454 1106.054, 181.454 695.946, 183.200 694.200 C 184.127 693.273, 244.425 693, 448.512 693 C 747.673 693, 720.149 693.773, 734.926 684.959 C 745.221 678.818, 758.385 664.913, 760.461 657.985 C 760.870 656.618, 762.080 653.976, 763.149 652.114 C 768.469 642.848, 768.382 615.208, 763.006 606.510 C 761.903 604.725, 761 602.609, 761 601.809 C 761 592.281, 736.675 572.347, 719.375 567.698 L 709.334 565 416.417 565.103 L 123.500 565.207 112.020 567.517 M 392.500 739.953 C 388.650 740.408, 382.702 741.729, 379.282 742.890 C 375.861 744.050, 372.226 745, 371.204 745 C 368.413 745, 350.478 752.341, 343 756.544 C 341.625 757.317, 338.700 758.839, 336.500 759.925 C 334.300 761.011, 329.350 764.176, 325.500 766.958 C 321.650 769.740, 316.925 773.092, 315 774.406 C 309.902 777.886, 295.214 792.688, 290.031 799.568 C 287.574 802.830, 283.891 807.551, 281.849 810.059 C 279.806 812.566, 277.835 815.810, 277.469 817.268 C 277.103 818.725, 276.193 820.425, 275.446 821.045 C 274.700 821.664, 272.471 825.620, 270.494 829.836 C 268.517 834.051, 265.797 839.638, 264.450 842.251 C 263.102 844.863, 261.985 848.013, 261.967 849.251 C 261.949 850.488, 261.031 853.975, 259.927 857 C 251.271 880.720, 251.293 924.242, 259.972 946.761 C 261.088 949.654, 262 952.940, 262 954.063 C 262 955.185, 262.875 957.768, 263.944 959.802 C 265.014 961.836, 267.826 967.456, 270.194 972.291 C 277.051 986.290, 278.161 988.158, 284.500 996.370 C 287.800 1000.644, 291.190 1005.196, 292.034 1006.485 C 295.037 1011.070, 308.586 1023.885, 317.500 1030.569 C 324.565 1035.867, 327.438 1037.833, 332.014 1040.500 C 334.845 1042.150, 338.720 1044.513, 340.625 1045.750 C 342.530 1046.988, 344.631 1048.002, 345.294 1048.005 C 345.957 1048.008, 348.300 1049.119, 350.500 1050.474 C 352.700 1051.829, 355.355 1052.952, 356.400 1052.969 C 357.445 1052.986, 360.595 1054.079, 363.400 1055.397 C 389.214 1067.530, 446.152 1067.518, 472.687 1055.374 C 475.540 1054.068, 478.365 1053, 478.966 1053 C 480.239 1053, 492.408 1047.098, 499.180 1043.196 C 501.754 1041.713, 505.327 1039.657, 507.119 1038.627 C 520.482 1030.945, 556 995.180, 556 989.407 C 556 988.768, 556.655 987.701, 557.455 987.037 C 559.143 985.636, 565.371 974.569, 566.504 970.959 C 566.928 969.606, 568.113 967.427, 569.138 966.115 C 570.162 964.803, 571.004 962.778, 571.010 961.615 C 571.015 960.452, 572.070 957.244, 573.354 954.487 C 574.638 951.730, 576.006 947.779, 576.395 945.709 C 576.783 943.638, 577.979 939.195, 579.053 935.835 C 584.949 917.377, 581.698 866.634, 573.513 849.386 C 572.671 847.612, 571.690 844.661, 571.333 842.830 C 570.976 840.998, 569.630 837.933, 568.342 836.018 C 567.054 834.103, 566 831.828, 566 830.962 C 566 830.097, 564.875 827.864, 563.500 826 C 562.125 824.136, 561 822.086, 561 821.443 C 561 820.801, 559.650 818.576, 558 816.500 C 556.350 814.424, 555 812.287, 555 811.751 C 555 810.617, 549.437 803.720, 539.596 792.656 C 533.378 785.666, 519.834 773.467, 513 768.702 C 504.785 762.973, 496.432 757.975, 491 755.536 C 489.075 754.671, 485.700 753.073, 483.500 751.984 C 477.788 749.157, 466.100 745, 463.862 745 C 462.817 745, 458.708 743.844, 454.731 742.432 C 446.782 739.609, 408.370 738.079, 392.500 739.953 M 397 741.140 C 382.334 742.648, 353.104 751.768, 343 757.988 C 342.175 758.496, 338.617 760.537, 335.092 762.523 C 309.075 777.190, 285.447 802.641, 271.521 831 C 264.468 845.363, 263 848.711, 263 850.432 C 263 851.385, 261.903 855.390, 260.561 859.332 C 253.882 878.964, 253.285 923.163, 259.466 940.500 C 260.251 942.700, 261.615 947.357, 262.499 950.848 C 263.383 954.340, 264.507 957.940, 264.998 958.848 C 265.489 959.757, 267.957 964.775, 270.483 970 C 313.613 1059.207, 420.907 1090.033, 506.037 1037.675 C 518.143 1030.229, 542.753 1007.334, 549.459 997.277 C 550.845 995.200, 552.725 992.375, 553.637 991 C 554.549 989.625, 556.127 987.283, 557.145 985.795 C 564.220 975.445, 571.460 957.992, 576.764 938.500 L 580.301 925.500 580.340 902 C 580.431 846.279, 558.129 803.865, 510 768.226 C 481.702 747.271, 438.372 736.885, 397 741.140 M 1424 740.664 C 1422.625 740.924, 1418.526 742.006, 1414.892 743.068 C 1411.258 744.131, 1407.121 745, 1405.699 745 C 1401.329 745, 1387.503 750.296, 1372 757.910 C 1347.597 769.894, 1322.437 792.864, 1307.825 816.500 C 1306.125 819.250, 1303.981 822.625, 1303.062 824 C 1302.142 825.375, 1300.770 828.075, 1300.012 830 C 1299.255 831.925, 1297.817 834.573, 1296.817 835.885 C 1295.818 837.197, 1295 838.940, 1295 839.760 C 1295 840.579, 1293.922 843.781, 1292.605 846.875 C 1281.640 872.626, 1279.236 919.635, 1287.604 944.668 C 1288.922 948.610, 1290.014 952.435, 1290.031 953.168 C 1290.048 953.901, 1291.169 956.750, 1292.522 959.500 C 1293.875 962.250, 1294.986 965.183, 1294.991 966.018 C 1294.996 966.853, 1296.125 969.191, 1297.500 971.215 C 1298.875 973.238, 1300 975.427, 1300 976.079 C 1300 977.248, 1301.381 979.634, 1308.681 991.080 C 1324.604 1016.046, 1347.513 1036.342, 1374.500 1049.389 C 1386.748 1055.310, 1391.327 1057.170, 1398.500 1059.133 C 1402.350 1060.187, 1407.075 1061.480, 1409 1062.005 C 1431.724 1068.207, 1465.010 1067.782, 1488 1060.996 C 1491.575 1059.941, 1495.850 1058.809, 1497.500 1058.481 C 1503.548 1057.278, 1531.044 1043.486, 1540.069 1037.128 C 1554.692 1026.826, 1571.806 1010.352, 1578.768 999.876 C 1579.720 998.442, 1581.850 995.332, 1583.500 992.966 C 1588.983 985.100, 1597.975 968.246, 1599.488 963 C 1599.884 961.625, 1600.854 959.477, 1601.642 958.227 C 1602.431 956.977, 1603.522 953.377, 1604.066 950.227 C 1604.610 947.077, 1605.912 942.475, 1606.958 940 C 1612.411 927.103, 1612.084 881.106, 1606.420 864.332 C 1605.089 860.390, 1604 856.164, 1604 854.942 C 1604 853.719, 1603.142 850.870, 1602.094 848.610 C 1601.046 846.349, 1599.059 842.025, 1597.678 839 C 1592.782 828.270, 1591.881 826.449, 1589.206 821.864 C 1587.718 819.314, 1585.150 815.316, 1583.500 812.979 C 1581.850 810.643, 1579.769 807.638, 1578.875 806.302 C 1572.424 796.658, 1549.673 775.011, 1538.500 767.888 C 1535.750 766.134, 1531.901 763.642, 1529.946 762.350 C 1527.992 761.057, 1525.959 760, 1525.428 760 C 1524.898 760, 1522.809 758.875, 1520.785 757.500 C 1518.762 756.125, 1516.585 755, 1515.948 755 C 1515.311 755, 1512.700 753.981, 1510.145 752.735 C 1504.824 750.140, 1492.569 746.199, 1479.500 742.881 C 1470.748 740.660, 1432.175 739.119, 1424 740.664 M 1431.500 741.928 C 1426.550 742.339, 1420.025 743.384, 1417 744.249 C 1413.975 745.115, 1409.520 746.139, 1407.100 746.525 C 1388.867 749.433, 1358.453 765.354, 1338.898 782.226 C 1292.651 822.129, 1271.970 893.130, 1290.563 948.171 C 1292.482 953.852, 1294.564 960.300, 1295.189 962.500 C 1295.815 964.700, 1297.378 968.067, 1298.663 969.982 C 1299.949 971.897, 1301 973.990, 1301 974.632 C 1301 975.274, 1302.794 978.657, 1304.987 982.150 C 1307.180 985.642, 1309.710 989.821, 1310.609 991.435 C 1316.737 1002.441, 1333.440 1020.211, 1347.500 1030.684 C 1353 1034.781, 1358.188 1038.665, 1359.029 1039.316 C 1360.487 1040.444, 1380.031 1050.213, 1388.500 1054.047 C 1390.700 1055.043, 1394.075 1056.173, 1396 1056.557 C 1397.925 1056.942, 1402.133 1058.094, 1405.351 1059.119 C 1427.534 1066.180, 1461.599 1066.377, 1486 1059.586 C 1490.675 1058.284, 1496.057 1056.889, 1497.960 1056.484 C 1499.863 1056.080, 1503.013 1054.951, 1504.960 1053.975 C 1506.907 1053, 1511.425 1050.937, 1515 1049.392 C 1518.575 1047.847, 1523.575 1045.326, 1526.111 1043.791 C 1528.646 1042.256, 1531.007 1041, 1531.357 1041 C 1532.420 1041, 1546.103 1031.009, 1552.798 1025.344 C 1565.554 1014.550, 1581.142 995.930, 1587.917 983.393 C 1589.074 981.252, 1590.451 978.825, 1590.977 978 C 1592.344 975.855, 1598.392 962.314, 1600.356 957 C 1601.822 953.037, 1604.033 945.325, 1606.953 934 C 1610.692 919.497, 1610.126 881.530, 1605.984 869 C 1604.985 865.975, 1603.844 861.700, 1603.450 859.500 C 1599.217 835.847, 1574.123 797.969, 1549.500 778.063 C 1538.540 769.203, 1516.950 756, 1513.420 756 C 1512.898 756, 1510.868 755.141, 1508.910 754.092 C 1492.947 745.536, 1456.678 739.837, 1431.500 741.928 M 645.500 1060.593 C 637.901 1062.474, 626.699 1066.446, 624.787 1067.940 C 623.529 1068.922, 621.385 1070.075, 620.021 1070.502 C 616.558 1071.589, 601.819 1086.747, 599.567 1091.538 C 598.543 1093.717, 596.871 1096.573, 595.852 1097.885 C 594.834 1099.197, 594 1101.107, 594 1102.131 C 594 1103.155, 593.098 1106.599, 591.995 1109.786 C 590.004 1115.540, 589.992 1117.592, 590.245 1409.040 L 590.500 1702.500 592.800 1712.405 C 594.064 1717.853, 595.977 1723.426, 597.050 1724.790 C 598.122 1726.154, 599 1727.807, 599 1728.463 C 599 1732.007, 617.582 1754, 620.576 1754 C 621.275 1754, 623.119 1755.064, 624.673 1756.364 C 628.017 1759.161, 640.974 1765, 643.836 1765 C 647.514 1765, 649 1766.151, 649 1769 C 649 1773.208, 634.398 1773, 930 1773 C 1225.936 1773, 1211 1773.215, 1211 1768.960 C 1211 1766.023, 1211.391 1765.771, 1218 1764.449 C 1226.265 1762.796, 1239.386 1754.780, 1248.068 1746.080 C 1261.452 1732.667, 1268.495 1715.658, 1268.390 1697 C 1268.370 1693.425, 1268.279 1611.363, 1268.187 1514.641 C 1267.995 1312.291, 1268.815 1328.712, 1258.075 1312 C 1244.686 1291.167, 1211.092 1276.902, 1192.315 1284.075 C 1190.767 1284.667, 1187.036 1285.609, 1184.025 1286.168 C 1181.013 1286.727, 1177.344 1288.043, 1175.870 1289.092 C 1174.397 1290.142, 1172.724 1291, 1172.153 1291 C 1169.615 1291, 1155.774 1303.923, 1150.396 1311.314 C 1139.804 1325.869, 1140.065 1321.172, 1140.066 1497.791 C 1140.067 1574.950, 1139.801 1638.513, 1139.475 1639.041 C 1138.321 1640.908, 720.325 1640.289, 719.607 1638.418 C 719.273 1637.548, 719 1519.011, 719 1375.001 C 719 1121.236, 718.942 1113.031, 717.126 1108.793 C 716.095 1106.388, 714.927 1102.942, 714.530 1101.135 C 713.319 1095.625, 703.002 1081.349, 695.641 1075 C 684.077 1065.026, 657.939 1057.516, 645.500 1060.593 M 639.500 1064.927 C 616.019 1071.293, 600.005 1087.078, 594.280 1109.500 L 591.982 1118.500 591.991 1408.345 C 591.995 1567.760, 592.195 1698.506, 592.434 1698.893 C 592.673 1699.280, 593.588 1703.849, 594.468 1709.048 C 596.868 1723.223, 601.844 1732.726, 612.935 1744.315 C 618.615 1750.250, 630.659 1759, 633.149 1759 C 633.908 1759, 636.098 1759.838, 638.015 1760.863 C 648.131 1766.272, 639.185 1766.125, 934 1765.704 C 1214.057 1765.303, 1214.490 1765.297, 1221.195 1761.223 C 1223.013 1760.119, 1225.957 1758.908, 1227.739 1758.531 C 1229.520 1758.154, 1231.237 1757.426, 1231.555 1756.911 C 1231.872 1756.397, 1234.465 1754.460, 1237.316 1752.606 C 1246.381 1746.711, 1257.109 1733.913, 1260.668 1724.747 C 1261.575 1722.411, 1262.654 1720.050, 1263.066 1719.500 C 1265.832 1715.808, 1266.043 1701.871, 1266.058 1521.395 C 1266.074 1327.236, 1266.187 1332.045, 1261.372 1321.469 C 1252.704 1302.429, 1237.585 1290.754, 1216 1286.429 L 1204.500 1284.126 1193.500 1286.206 C 1170.570 1290.542, 1154.242 1303.552, 1145.441 1324.500 L 1142.500 1331.500 1142 1485.787 C 1141.560 1621.477, 1141.319 1640.188, 1140 1641.021 C 1137.368 1642.685, 720.495 1642.301, 719.111 1640.634 C 718.273 1639.624, 717.982 1571.377, 717.994 1378.439 L 718.011 1117.611 715.374 1109.555 C 709.950 1092.984, 694.284 1072, 687.336 1072 C 686.856 1072, 684.897 1070.949, 682.982 1069.664 C 673 1062.967, 654.259 1060.926, 639.500 1064.927 M 906 1256.899 C 903.525 1257.303, 899.025 1258.362, 896 1259.253 C 892.975 1260.143, 888.475 1261.320, 886 1261.869 C 879.885 1263.225, 870.280 1266.642, 865.864 1269.032 C 863.864 1270.114, 861.606 1271, 860.846 1271 C 860.086 1271, 857.809 1272.125, 855.785 1273.500 C 853.762 1274.875, 851.692 1276, 851.185 1276 C 849.986 1276, 834.872 1285.862, 828.681 1290.685 C 814.117 1302.029, 788 1332.201, 788 1337.683 C 788 1338.237, 787.100 1339.505, 786 1340.500 C 784.900 1341.495, 784 1342.796, 784 1343.391 C 784 1343.985, 782.901 1346.728, 781.557 1349.486 C 777.070 1358.694, 773 1368.814, 773 1370.762 C 773 1371.822, 772.095 1375.347, 770.989 1378.595 C 764.701 1397.059, 764.239 1435.142, 770.079 1453.576 C 771.137 1456.917, 772.481 1462.234, 773.064 1465.391 C 773.648 1468.547, 775.222 1473.193, 776.563 1475.714 C 777.903 1478.235, 779 1480.983, 779 1481.820 C 779 1482.657, 779.601 1484.053, 780.335 1484.921 C 781.070 1485.790, 782.281 1488.075, 783.027 1490 C 785.090 1495.321, 791.767 1505.881, 799.785 1516.500 C 817.475 1539.927, 846.500 1561.357, 873 1570.555 C 944.443 1595.352, 1024.872 1569.897, 1064.329 1510 C 1066.322 1506.975, 1068.727 1503.397, 1069.674 1502.050 C 1071.954 1498.805, 1077.993 1486.777, 1077.997 1485.473 C 1077.999 1484.907, 1078.772 1483.343, 1079.715 1481.997 C 1081.696 1479.168, 1085.627 1468.548, 1087.117 1462 C 1087.679 1459.525, 1089.121 1454.575, 1090.320 1451 C 1092.344 1444.965, 1092.499 1442.603, 1092.482 1418 C 1092.462 1389.403, 1092.494 1389.627, 1085.405 1369 C 1084.554 1366.525, 1083.376 1362.700, 1082.786 1360.500 C 1082.196 1358.300, 1081.115 1355.803, 1080.383 1354.950 C 1079.651 1354.098, 1078.407 1351.571, 1077.618 1349.334 C 1076.211 1345.346, 1068.503 1331.934, 1064.783 1327 C 1057.103 1316.813, 1053.757 1312.735, 1048.515 1307.171 C 1040.556 1298.722, 1027.192 1287.510, 1019.110 1282.503 C 1018.224 1281.954, 1016.068 1280.491, 1014.317 1279.253 C 1012.566 1278.014, 1010.716 1277, 1010.206 1277 C 1009.696 1277, 1007.630 1275.881, 1005.614 1274.513 C 1003.598 1273.144, 1000.722 1271.735, 999.224 1271.381 C 997.726 1271.027, 994.475 1269.722, 992 1268.482 C 986.097 1265.524, 978.698 1262.961, 972.500 1261.728 C 969.750 1261.181, 964.800 1259.815, 961.500 1258.691 C 955.065 1256.501, 916.132 1255.243, 906 1256.899" stroke="none" fill="#fe0908" fill-rule="evenodd" /></svg>
                            </span>
                            <span class="app-brand-text demo menu-text fw-bold">یاس فاکتور</span>
                        </a>

                        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
                            <i class="bx bx-x bx-sm align-middle"></i>
                        </a>
                    </div>

                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                @*<div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar avatar-online mt-1">
                                                <img src="../../assets/img/avatars/1.png" alt="" class="rounded-circle">
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <span class="fw-semibold d-block">جان اسنو</span>
                                            <small>مدیر</small>
                                        </div>
                                    </div>*@

                                <a class="nav-link dropdown-toggle hide-arrow flex-shrink-0 me-3" href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="/img/user-logo.png" alt class="rounded-circle">
                                    </div>
                                    <div class="flex-grow-1">
                                        <span class="fw-semibold d-block text-center">ناحیه کاربری</span>
                                        @*<small>مدیر</small>*@
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>

                                        <span class="dropdown-item"><b>@* @ContextService.GetAccount(Context) *@</b> خوش آمدید!</span>
                              

                                        <a class="dropdown-item signout" href="#">خروج از سامانه یاس فاکتور</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-search-wrapper search-input-wrapper container-xxl d-none">
                        <input type="text" class="form-control search-input border-0" placeholder="جستجو ..." aria-label="Search...">
                        <i class="bx bx-x bx-sm search-toggler cursor-pointer"></i>
                    </div>
                </div>
            </nav>
            <div class="layout-page">
                <div class="content-wrapper" data-simplebar>
                    <aside id="layout-menu" class="layout-menu-horizontal menu-horizontal menu bg-menu-theme flex-grow-0">
                        <div class="container-xxl d-flex h-100">
                            <ul class="menu-inner">
                                
                                <li class="menu-item active">
                                    <a href="/Product/Index" class="menu-link">
                                        <i class="menu-icon tf-icons bx bx-book-content"></i>
                                        <div data-i18n="Dashboards">صفحه اصلی</div>
                                    </a>
                                </li>
                                
                               
                            </ul>
                        </div>
                    </aside>
                    <!-- / Menu -->
                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="modal fade" id="modal-large" tabindex="-1" style="">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                                <div class="modal-content modal-large">
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="modal-xlarge" tabindex="-1" style="">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                <div class="modal-content modal-xlarge">
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="modal-large2" tabindex="-1" style="">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                                <div class="modal-content modal-large2">
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="modal-xlarge2" tabindex="-1" style="">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                <div class="modal-content modal-xlarge2">
                                </div>
                            </div>
                        </div>
                        @RenderSection("Additional", false)
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="card card-action mb-5">
                                    <div class="card-content">
                                        <div id="sticky-wrapper" class="sticky-wrapper">
                                            <div class="card-header sticky-element bg-label-secondary d-flex justify-content-sm-between align-items-sm-center flex-column flex-sm-row" style="width: 100%">
                                                <h5 class="card-title mb-sm-0 me-2">@ViewData["Title"]</h5>
                                                <div class="action-btns">
                                                    @RenderSection("ActionButtons", false)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-header">
                                            <div class="card-action-title">
                                                @RenderSection("CardActions", false)
                                            </div>
                                            <div class="card-action-element">
                                                <ul class="list-inline mb-0">
                                                    <li class="list-inline-item">
                                                        <a href="javascript:void(0);" class="card-expand"><i class="tf-icons bx bx-fullscreen"></i></a>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="collapse-card show">
                                            <div class="card-body">
                                                @RenderBody()
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="content-footer footer bg-footer-theme">
                        @*<div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                                <div class="mb-2 mb-md-0">
                                    طراحی شده با ❤️ توسط فناوری اطلاعات
                                    <a href="https://Yas.Template.Web.ir" target="_blank" class="footer-link fw-semibold">آویسان</a>
                                </div>
                                <div class="mb-2 mb-md-0" style="width:500px">
                                    <select id="defaultAccount" name="DefaultAccount" select2-title="انتخاب حساب فعال" class="select2-query" select2-modal="#modal-one" select2-action-url="/Account/Lookup" style="width:100%">
                                    </select>
                                </div>
                            </div>*@

                    </footer>
                    <div class="content-backdrop fade"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="layout-overlay layout-menu-toggle"></div>
    <div class="drag-target"></div>
    <script src="/js/helpers.js"></script>
    <script src="/js/config.js"></script>
    <script src="/libs/bootstrap/bootstrap.js"></script>
    <script src="/libs/jquery/jquery.js"></script>
    <script src="/libs/toastr/toastr.min.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/libs/jquery.number/jquery.number.js"></script>
    <script src="~/libs/thosand-seperator/separators.js"></script>
    <script src="~/libs/sweetalert/sweetalert2.js"></script>
    @*<script src="/libs/sweetalert/sweetalert2.all.min.js"></script>*@
    <script src="/js/main.js"></script>
    <script src="/js/custom/cards-actions.js?rndstr=@DateTime.Now"></script>
    <script src="/js/custom/core.js?rndstr=@DateTime.Now"></script>

    <script src="/libs/datatables/dataTables.min.js"></script>
    <script src="/libs/datatables/dataTables.bootstrap5.min.js"></script>
    <script src="/libs/datatables/i18n/fa.js"></script>
    <script src="~/libs/datatables/responsive/dataTables.responsive.min.js"></script>
    <script src="~/libs/datatables/responsive/responsive.bootstrap5.js"></script>

    <script src="/libs/select2/select2.min.js"></script>
    <script src="/js/custom/select2.js?rndstr=@DateTime.Now"></script>
    <script src="/libs/datapicker/mds.bs.datetimepicker.js"></script>
    <script src="/js/pages/shared/user.js?rndstr=@DateTime.Now"></script>
    <script src="/libs/datatables/export/dataTables.buttons.js"></script>
    <script src="/libs/datatables/export/buttons.dataTables.js"></script>
    <script src="/libs/datatables/export/buttons.html5.min.js"></script>
    <script src="/libs/datatables/export/buttons.print.min.js"></script>
    <script src="/libs/datatables/export/jszip.min.js"></script>
    <script src="/libs/datatables/export/pdfmake.min.js"></script>
    <script src="/libs/datatables/export/vfs_fonts.js"></script>
    <script src="~/libs/imask/imask.js"></script>

    @await RenderSectionAsync("Scripts", false)
</body>
</html>